.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login .login__logo {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}
.login .login__logo > img {
  object-fit: contain;
  margin-bottom: 35px;
}
.login .login__logo .login__logoImage__solid {
  height: 100px;
}
.login__logoImage__text {
  height: 65px;
}
.login .login__logo > button {
  width: 280px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.2s ease-in;
}
.login .login__logo > button:hover {
  background-color: #fff;
  color: #2e81f4;
}
